{% extends 'base.html' %}
{% block title %}БЭД РЕКВЕСТ!{% endblock %}
{% block content %}
<main>
  <section class="container my-5">
      <div class="col-12 col-lg-7 my-5">
        <h3 class="mb-5">БЭД, БЭД, ВЕРИ БЭД РЕКВЕСТ!</h3>
        <p>
          Так, я не понял. Ты либо грузишь в меня дичь, либо запрашиваешь страницу несуществующую.
          Зацени мем, подумай над своим поведением, и начни сначала.
          <img src="https://i.ibb.co/TwG7hX8/photo-2024-04-01-23-16-34.jpg" height="500">
        </p>
      </div>
  </section>
</main>
{% endblock content %}